.container{
}
.table {
    display: block;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;
    border: 1px solid #000000;
    text-align: center;
    font-size: 8px;
}
.tableHead{
    display: flex;
}
.titleTable{
    background-color: rgb(28,194,132);
}
// width column for table
.searchCode {
    @extend .cell;
    min-width: 200px;
    max-width: 200px; // код(50px) + фото(150px)
    }
.cellCode{
    @extend .cell;
    min-width: 50px;
    max-width: 50px;
    background-color: rgb(28,194,132);
}
.cellDescription{
    @extend .cell;
    min-width: 200px;
    max-width: 200px;
}
.cellSizes{
    @extend .cell;
    min-width: 135px;
    max-width: 135px;
}
.cellPrice{
    @extend .cell;
    min-width: 70px;
    max-width: 70px;
}
.cellArrivdesc{
    @extend .cell;
    min-width: 150px;
    max-width: 150px;
}
.cellSize{
    @extend .cell;
    min-width: 50px;
    max-width: 50px;
}
.cellDateRefresh{
    @extend .cell;
    min-width: 1355px;
    max-width: 1355px;
}
.cellImg{
    @extend .cell;
    padding: 0;
    min-width: 150px;
    max-width: 150px;
}
.rowTable {
    display: flex;
}
.textLeft {
    text-align: left;
}
.image{
    min-height: 200px;
    max-height: 200px;
}
.sticky{
position: sticky;
top: 0}