td{
    white-space: break-spaces;
    border: 1px solid #000000;
    text-align: center;
    font-size: 8px;
}
.titleTable{
    background-color: rgb(28,194,132);
    border: 1px solid #000000;
}
.textLeft {
    text-align: left;
}
.tdImg{
    padding: 0;
    max-width: 300px;
}